body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
.intro-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background-image: url('../img/demo_leap3.jpg');
    background-size: cover;
    color: white;
}

.about-section {
    min-height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #eee;
	background-image: url("../img/cubes.png");
}
.exercice-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
	background-image: url("../img/cubes.png");
}
#correction {
	margin:20px;
	height: 40px;
	font-size: 28px;
}
#score {
	margin:20px;
	height: 20px;
}
.stats-section {
    min-height: 150%;
    padding-top: 100px;
    text-align: center;
    background: #eee;
	background-image: url("../img/cubes.png");
}

.score-section {
    min-height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #eee;
	background-image: url("../img/cubes.png");
}
.score-section .best {
	background-color: white;
	padding: 20px;
	border-color: blue;
	border-width: 10px;
	margin-bottom: 20px;
}

.page-section {
    min-height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #eee;
	background-image: url("../img/cubes.png");
}

.services-section {
    min-height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #fff;
}

.contact-section {
    min-height: 100%;
    padding-top: 150px;
    text-align: center;
	background-image: url("../img/cubes.png");
}

.contact-section .section {
	min-height: 340px;
	margin-left: 10px;
	background-color: white;
	padding: 30px;
}
body {
  height: 100%;
  text-align: center;
  background-color: #e7e7e7;
}
big {
	font-size: 16px;
	font-weight: bold;
}
.fun {
	font-size: 22px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
.btn-begin {
	background-color: #87ba76;
	border-color: #87ba76;
}
.btn-begin:hover {
	background-color: #5c8050;
	border-color: #5c8050;
}
.stats {
	margin-bottom: 50px;
}
#card {
	background-color: #fff;
	padding-bottom: 100px;
	padding-top: 100px;
}
#exercice-card {
	padding-bottom: 10px;
	padding-top: 10px;
	background-color: white;
	height: 300px;
}
#main-title {
	font-family: 'Black Ops', 'sans serif';
	font-size: 48px;
}
#begin {
	font-color: white;
	font-size: 24px;
}
#buttons {
	font-color: white;
	font-size: 20px;
}
@font-face {
  font-family: 'Black Ops';
  src: url('../fonts/BlackOpsOne-Regular.ttf');
}
#transparent {
width: 200px;
height: 100px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: transparent;
}
#rectangle-blue {
width: 200px;
height: 100px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: blue;
}
#rectangle-green {
width: 200px;
height: 100px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: green;
}
#rectangle-red {
width: 200px;
height: 100px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: red;
}

#circle-blue {
width: 100px;
height: 100px;
background: blue;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
#circle-green {
width: 100px;
height: 100px;
background: green;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
#circle-red {
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}

#triangle-up-blue {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid blue;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
#triangle-up-green {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid green;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
#triangle-up-red {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid red;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
#myCanvas{
    border: 2px;
    border-color: black;
    border-style: solid;
    position: relative;
    right:0;
    margin-right: 20px;
}
#myCanvas2{
    border: 2px;
    border-color: black;
    border-style: solid;
    position: relative;
    right:0;
    margin-right: 20px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.btn-exercice-sm {
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-exercice-md {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-exercice-lg {
  padding: 30px 50px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.selected {
	background-color: #cccccc;
}
