body {
  height: 100%;
  text-align: center;
  background-color: #e7e7e7;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
/* Padding for spacing */
.inner {
  padding: 30px;
}
.btn-begin {
	background-color: #87ba76;
	border-color: #87ba76;
}
.btn-begin:hover {
	background-color: #5c8050;
	border-color: #5c8050;
}
#main-title {
	font-family: 'Black Ops', 'sans serif';
	font-size: 48px;
}
@font-face {
  font-family: 'Black Ops';
  src: url('../fonts/BlackOpsOne-Regular.ttf');
}
#rectangle-blue {
width: 200px;
height: 100px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: blue;
}
#rectangle-green {
width: 200px;
height: 100px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: green;
}
#rectangle-red {
width: 200px;
height: 100px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: red;
}

#circle-blue {
width: 100px;
height: 100px;
background: blue;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
#circle-green {
width: 100px;
height: 100px;
background: green;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}
#circle-red {
width: 100px;
height: 100px;
background: red;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 50px;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
}

#triangle-up-blue {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid blue;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: blue;
}
#triangle-up-green {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid green;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: green;
}
#triangle-up-red {
width: 0;
height: 0;
border-left: 50px solid transparent;
border-right: 50px solid transparent;
border-bottom: 100px solid red;
margin:0 auto;
margin-top: 20px;
margin-bottom: 20px;
background: red;
}
#myCanvas{
    border: 2px;
    border-color: black;
    border-style: solid;
    position: relative;
    right:0;
    margin-right: 20px;
}
#myCanvas2{
    border: 2px;
    border-color: black;
    border-style: solid;
    position: relative;
    right:0;
    margin-right: 20px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

